BR2_arm=y
BR2_cortex_a5=y
BR2_CCACHE=y
BR2_STRIP_sstrip=y
BR2_OPTIMIZE_3=y
BR2_PREFER_STATIC_LIB=y
BR2_GCC_VERSION_4_7_X=y
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-float=hard --with-fpu=vfpv4-d16"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mfpu=vfpv4-d16"
BR2_TARGET_GENERIC_HOSTNAME=""
BR2_TARGET_GENERIC_ISSUE=""
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_TABLE="board/atmel/sama5d3ek_initramfs/device_table.txt"
BR2_ROOTFS_STATIC_DEVICE_TABLE="board/atmel/sama5d3ek_initramfs/device_table_dev.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/atmel/sama5d3ek_initramfs/skel"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/atmel/sama5d3ek_initramfs/post_final.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="board/atmel/sama5d3ek_initramfs/busybox.config"
BR2_PACKAGE_MTD=y
# BR2_PACKAGE_MTD_FLASHCP is not set
# BR2_PACKAGE_MTD_FLASH_ERASE is not set
# BR2_PACKAGE_MTD_FLASH_LOCK is not set
# BR2_PACKAGE_MTD_FLASH_UNLOCK is not set
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_NANDWRITE is not set
# BR2_PACKAGE_MTD_MTDINFO is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
BR2_PACKAGE_HOST_SAM_BA=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_GIT=y
BR2_TARGET_BAREBOX_CUSTOM_GIT_REPO_URL="git://github.com/alexandrebelloni/barebox.git"
BR2_TARGET_BAREBOX_CUSTOM_GIT_VERSION="FE-boottime"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="sama5d3xek_fast"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="git://github.com/alexandrebelloni/linux.git"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="linux-3.6.9-at91"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/atmel/sama5d3ek_initramfs/linux_final.defconfig"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sama5d31ek"
